p{
  margin-bottom: 0;
}

.flag-icon-unknown{
  background-image: url("img/unknown.svg");
  height: 1.5em;
  line-height: 1.5em;
}

.fas{
  color: #FFB400;
}

#title, .inputstyle, .container-home{
  transition: all .5s ease-out;
}


#title.start{
  font-size: 100px;
}

.inputstyle, select{
  height: 48px;
  padding: 0 10px;
  border-radius: 5px;
}

.inputstyle{
  border: 0;
  width: 120px;
}

.inputstyle:focus{
  background-color: black;
  color: white;
  width: 300px;
}

.container-home{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.container-home.start{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ajaxcontainer{
  margin-top: 200px;
  display: none;
}

.box-poster-film{
  position: relative;
  height: 100%;
  width: 100%;
}

.box-details-film{
  padding-top: 25%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.flyers{
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px black;
}

.box-poster-film:hover .box-details-film{
  display: block;
}
